{{!-- </div>
<li><a class="link {{active path=path match='/addDog'}}" href="/addDog">add dog</a></li>
</div> --}}

    <div class="card m-3" style="max-width:20%;">
      <img src="{{dog.avatar}}" width="50" class="card-img-top" alt="{{dog.name}}">
      <div class="card-body">
        <h3 class="card-title">{{dog.name}}</h3>
        <p class="card-subtitle mb-2 text-body-secondary">{{dog.race}}</p>
        <p class="card-subtitle mb-2 text-body-secondary">{{dog.age}} years</p>
         {{#if isWalker}}
      
<li><a class="link {{active path=path match='./userData/{{dog.owner._id}}'}}" href="/userData/{{dog.owner._id}}">{{dog.owner.name}}</a></li>

         {{/if}}
      </div>
    </div>
