<h1 class="mt-4">Dogs</h1>

<div class="row">
  {{#each dogs}}
  <div class="col-md-4 mb-4">
    <div class="card">
      
      <div class="card-image">
        <img src={{avatar}} class="card-img-top" alt={{name}}>
      </div>
      <p class="card-title">{{name}}</p>
      <p class="card-title">{{race}}</p>
      <h6 class="card-title"> Age: {{age}} years old </h6>
      <a href="/details" class="btn btn-primary">Details</a>
      <p class="footer">Owner: {{owner.name}} <span class="by-name"></span> </p>
      
    </div>
  </div>
  {{/each}}
</div>